@import "properties.scss";

#boardInformations {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $red;
	border-radius: 0.25rem;
	padding: 7%;
}

span.optionName {
	margin: 15px;
}

#boards {
	margin-top: 5%;
	padding: 5%;
	font-family: "Play", sans-serif;
	border-collapse: collapse;
	width: 100%;
	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		border: 1px solid #ddd;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: $red;
		color: white;
	}
}

.button {
	font-size: 1.25rem;
	background-color: $red;
	color: $white;
	padding: 1rem 3rem;
	border-radius: 0.25rem;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: background-color 0.2s ease-in-out;
	margin-bottom: 2rem;

	&:hover {
		cursor: pointer;
		background-color: transparent;
		border-color: $red;
	}
}
