@import "properties.scss";

#boardInformations {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid  $red;
	border-radius: 0.25rem;
	padding: 7%;
}

span.optionName {
	margin: 15px;
}

#boards {
	margin-top: 5%;
	padding: 5%;
	font-family: "Play", sans-serif;
	border-collapse: collapse;
	width: 100%;
	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		border: 1px solid #ddd;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: $red;
		color: white;
	}
	
}
